/* media query for small devices */

@media screen and (max-width:576px) {
    .banner, main{
        max-width: 90%;
        margin: 0 auto;
    }
    
    .nav-title,.nav-links,.btn-container{
        display: none;

    }
    .hamburger-menu {
        display: block;
    }
    #horizontal-line{
        display: block;
      }

      .banner{
        flex-direction: column-reverse;
      }
      .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

      }
      .banner-title{
        font-size: 2rem;
      }
      .banner-descrip{
        font-size: 1rem;
      }

      .curr-card-container {
        grid-template-columns: repeat(1, 1fr);
      }
      .arrow-con{
        display: none;
      }


      .left-card{
        display: none;
      }
      .right-card{
        width: 90%;
        margin: 0 auto;
        overflow: auto;
        overflow-x: hidden;
      }



}