* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* imaginary borders */
body{
  border: 1px solid blue;
}
header{
  border: 1px solid red;
}
/* adding fonts */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* colors */
.bg-primary {
  background-color: rgb(247, 247, 247);
}

.bg-btn {
  background-color: rgb(254, 163, 1);
}

.bg-btn2 {
  background-color: rgb(17, 17, 17);
}

.orange {
  color: rgb(254, 163, 1);
}

.sky-blue {
  color: rgb(1, 172, 253);
}

.aqua {
  color: rgb(5, 212, 223);
}

.purple {
  color: rgb(93, 88, 239);
}

/* shared styles */
.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}


.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;

}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  padding: 16px 60px;
  border-radius: 12px;
  border: none;
}



/* nav styles */
.navbar {
  justify-content: space-between;
  padding: 20px 0;
}

nav ul li {
  list-style: none;
}

.nav-link {
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: 700;

}

.nav-title {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
}

.hamburger-menu {
  display: none;
  width: 22.5px;
  height: 30px;
  font-size: 30px;
}

#horizontal-line{
  display: none;
  border: 0.5px solid rgb(254, 163, 1);
}
/* banner styles */
.banner {
  gap: 50px;
  justify-content: space-between;
}

.banner-content {
  max-width: 640px;
}

.banner-dp>img {
  width: 100%;

}

.banner-dp {
  max-width: 470px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.banner-descrip {
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 400;
  row-height: 25px;
  margin-bottom: 24px;
}