* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* imaginary borders  */
 header,
.std-curriculum,
.our-stories-container {
  border: 5px solid red;
}

/* adding fonts */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* colors */
.bg-primary {
  background-color: rgb(247, 247, 247);
}

.bg-btn {
  background-color: rgb(254, 163, 1);
}

.bg-btn2 {
  background-color: rgb(17, 17, 17);
}

.orange {
  color: rgb(254, 163, 1);
}

.sky-blue {
  color: rgb(1, 172, 253);
}

.aqua {
  color: rgb(5, 212, 223);
}

.purple {
  color: rgb(93, 88, 239);
}

/* shared styles */
.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}


.navbar,
.banner,
main {
  max-width: 1440px;
  margin: 0 auto;

}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;

  padding: 16px 60px;
  border-radius: 12px;
  border: none;
}

/* marquee */
.marquee-tag {
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 250, 250);
  text-shadow: 2px 2px goldenrod;

}

/* nav styles */
.navbar {
  justify-content: space-between;
  padding: 20px 0;
}

nav ul li {
  list-style: none;
}

.nav-link {
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: 700;

}

.nav-title {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
}

.hamburger-menu {
  display: none;
  width: 22.5px;
  height: 30px;
  font-size: 30px;
}

#horizontal-line {
  display: none;
  border: 0.5px solid rgb(254, 163, 1);
}

/* banner styles */
.banner {
  gap: 50px;
  justify-content: space-between;
}

.banner-content {
  max-width: 640px;
}

.banner-dp>img {
  width: 100%;

}

.banner-dp {
  max-width: 470px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner-descrip {
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
}

/* main section styles */
main>section {
  margin-top: 60px;
}

/* curriculum section styles */
.std-curriculum {
  background-image: url('../assets/bg.png');
}

.section-title {
  color: rgb(0, 0, 0);
  font-size: 2.875rem;
  font-weight: 700;
  margin-bottom: 80px;
}

.curr-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-bottom: 80px;
}

.curr-card>img {
  max-width: 100%;

}

.curr-card {
  box-sizing: border-box;
  border-radius: 18.86px;
  min-height: 476px;


}

#kinder {
  border: 0.94px solid rgb(222, 245, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#elementary {
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#middle {
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-title {
  color: rgb(32, 32, 32);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px 0px;
}

.card-descrip {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 28.3px;
  margin-bottom: 38px;
}

.read {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
}

.btn-less {
  border: none;
  border-radius: 100%;
  padding: 17px 23px;
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 10px;

}

.btn-less:hover,
.btn-primary:hover {
  background-color: rgb(1, 172, 253);
}

.arrow-con {
  margin-bottom: 60px;
}

/* Our stories section styles */
.our-stories-container {
  background: url('../assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3) 100%);
}

.stories-card>div>img,
.story1-dp>img {
  max-width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.stories-card {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 290px;
  min-height: 301px;
}

.story1 {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 540px;
  min-height: 630px;
}

.card-content {
  max-width: 90%;
  margin: 0 auto;

}

.story1{
  grid-area: story1;
}
.story2{
  grid-area: story2;
}
.story3{
  grid-area: story3;
}
.story4{
  grid-area: story4;
}
.story5{
  grid-area: story5;
}

.stories-card-container{
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-areas:
  "story1   story2 story3"
  "story1   story4 story5";
   margin-bottom: 80px;
}
.card-title2 {

  font-size: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 20px;

}